.n-wrapper{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    
}

.n-left{
    flex : 1;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.n-name{
    font-size: 1.3rem;
    font-weight: bold;
}
.n-right{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}
.n-list{
    flex: 10;
}
.n-list>ul{
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
    list-style-type: none;
}
/* Scrolling cursor and color was not working */   
.n-list>ul>*:hover{
    cursor: pointer;
    color: var(--orange);
}

/* .n-list>ul>li:hover{
    cursor: pointer;
    color: var(--orange);
} */

.n-button{
    flex: 2;
}

@media screen and (max-width:480px) {
 .n-list>ul{
     display: flex;
     flex-direction: column;
     margin-top: 3rem;
     gap: 2px;
 } 
 .n-button{
     display: none;
 }
}
.mobile-sbar{
    position: relative;
    z-index: 5;
    justify-content: center;
    align-items: center;
    text-align: left;
    left: 0;
    right: 0;
    width: 100vw;
    /* width: fit-content; */
}
@media screen and (min-width:480px){
    .mobile-sbar{
        display: none;
    }
}